body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pet-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 25%; 
}

.pet-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.show-page div.facts {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}

.show-page div.image-container {
    text-align: center;
}

.show-page div.image-container img {
    max-width: 100%;
    height: 45vh;
    margin-top: 10px;
    border: 1px solid #ccc;
}

form {
    text-align: left;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}