<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Submit Facts</h1>
        <div>
            <form action="/facts" method="POST">
                <label for="submitter"><H2>Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Fact</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
        </div>
        <a href="/pets">back</a>
    </div>
</body>
</html>